:root{
    --gris:rgb(230, 226, 226);
    --rouge:#a4082f;

}
/* img{
    object-fit: cover;
    object-position: bottom-right;
} */
.banniere_bg{
    width: 100%;
    height: 50vh;
    background-image: url(images_faq/faq1.jpg);
    /* background:linear-gradient(0deg, rgba(0,0,0,0.5)), url("images_faq/faq1.jpg"); */
    background-size: cover;
    background-position: center;
}

/* banniere */

.faq .petit_titre_text{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:20.5% ;
    width: 100%;
    height: 50vh;
    text-align: center;
    color: white;
    font-weight: bold;

}
.faq .petit_titre_text h3 {
    font-size: 30px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-bottom: 7%;
    position: relative;
    top: 145px;
}

.faq .petit_titre_text p {
    font-size: 17px;
    font-weight: bold;
    position: relative;
    top: 105px;
    margin-left: -77%;
}

.faq .petit_titre_text p a{
    text-decoration: none;
    color: white;
}
/* fin banniere */

.faq .section1{
    background-color: var(--gris);
    padding: 1px;
}
.faq .section2__ {
    display: grid;
    grid-template-columns: 30% 30% 30%;
    gap: 5%;
    justify-content: space-around;
    
}
.accordion-button{
    border: 2px solid var(--rouge);
}

.faq .section3{
    display: grid;
    grid-template-columns: 50% 50%;
    gap: 2%;
}

.faq .fa-arrow-up{
    border: 2px solid var(--rouge);
    padding: 1%;
    position: relative;
    left: 90%;
    margin-bottom: 30px;
}
/* media queries */

@media only screen and (max-width: 745px ){
    /* banniere */

.faq .petit_titre_text{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:17% ;
    display: none;
}
.faq .petit_titre_text h3 {
    font-size: 35px;
    letter-spacing: 2px;
    margin-bottom: 7%;
    position: relative;
    top: 195px;
    display: none;
}

.faq .petit_titre_text p {
    font-size: 15px;
    font-weight: bold;
    position: relative;
    top: 180px;
    margin-left: 1%;
    display: none;

    
}
/* fin banniere */


.faq .section2__ {
    display: grid;
    grid-template-columns: 95% ;
    gap: 1%;    
}

.faq .section3{
    display: grid;
    grid-template-columns: 100%;
    gap: 2%;
}
.faq .section4{
    display: flex;
    flex-direction: column;
}

}

@media only screen and (min-width: 746px ) and (max-width: 1400px ){
       /* banniere */

.faq .petit_titre_text{
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top:14% ;
    display: none;
}
.faq .petit_titre_text h3 {
    font-size: 40px;
    letter-spacing: 2px;
    margin-bottom: 7%;
    position: relative;
    top: 255px;
    display: none;
}

.faq .petit_titre_text p {
    font-size: 25px;
    font-weight: bold;
    position: relative;
    top: 300px;
    margin-left: -55%;
    display: none;
}
/* fin banniere */


.faq .section2__ {
    display: grid;
    grid-template-columns: 95% ;
    gap: 1%;    
}

.faq .section3{
    display: grid;
    grid-template-columns: 100%;
    gap: 2%;
}
.faq .section4{
    display: flex;
    flex-direction: column;
}

}

 @media only screen and (min-width: 1401px ){
    .faq .petit_titre_text{
        background-color: rgba(0, 0, 0, 0.7);
        position: absolute;
        top:20.5% ;
        /* display: none; */
    }
    .faq .petit_titre_text h3 {
        font-size: 40px;
        letter-spacing: 2px;
        margin-bottom: 7%;
        position: relative;
        top: 155px;
        /* display: none; */
    }
    
    .faq .petit_titre_text p {
        font-size: 25px;
        font-weight: bold;
        position: relative;
        top: 140px;
        margin-left: -75%;
        /* display: none; */
    }
} 
