.modal-title {
    color: #CE0033;

}

.toldbox{
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 10px;
    border-radius: 10px;
    box-shadow: 3px 5px 4px black;
    margin-bottom: 30px;
    width: 80%;
    height: 0%;
    margin-left: 10%;
    color: white;
}
.toldbox .pourcent{
    background-color: #CE0033;
    padding-bottom: 50px;
}
.pourcent h5{
font-size: 30px;
font-weight: 700;

}
.leboutton {
    background-color: #CE0033;
    color: white;
    border-radius: 5px;
    margin-left: 25%;
    margin-bottom: 30px;
}
