*{
    padding: 0;
    margin: 0;
}
main .banniere{
    background:linear-gradient(0deg, rgba(99, 91, 103, 0.9), rgba(15, 20, 25, 0.9)), url("https://img.freepik.com/photos-premium/contactez-nous-icone-entreprise-clavier-ordinateur-noir-lueur-dans-noir_117856-2834.jpg?size=626&ext=jpg&ga=GA1.1.410106095.1694595730&semt=sph");
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 32vh;
    text-align: center;
    color: white;
    padding-top: 5%;
}
main .banniere .retour{
    text-align: left ;
    margin-left: 2%;
    margin-bottom: 83% ;
    margin-top: 2%;
}
main .banniere .retour a{
    text-decoration: none;
    color: white;
    
}
main .topcollecte {
    width: 80%;
    height: 70vh;
    margin: 2% auto;
    /* border: 1px solid red; */
}
main .topcollecte .topcollectebis{
    /* border: 1px solid green; */
    width: 50%;
    height:90% ;
    box-shadow: 1px 1px;
    border-radius: 2%;
    padding: 2%;
}
main .topcollecte .topcollectebis button{
    border: none;
    background-color: #a4082f ;
    color: white;
    font-weight: bold;
    padding: 1% 5%;
    margin-left: 5%;
}

main .topcollecte .topcollectebis img{
    /* border: 1px solid pink; */
    position: absolute;
    left: 47%;
    top: 52%;
    width: 43%;
    height: 60%;
    border-radius: 2%;
    box-shadow: 1px 1px;
}
main .bottomcollecte{
    /* border: 1px solid red; */
    width: 80%;
    height: 50vh;
    margin: 8% auto;
    text-align: center;
}
main .bottomcollecte h3{
    margin-bottom: 2%;
}
#accordionFlushExample{
    font-size: 12px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
main .bottomcollecte .accorleft{
    width: 95%;

}
@media (max-width: 767px){
    main .banniere{
       height: 25vh;
       padding-top: 20%;
   }
   main .banniere p {
    margin-top: 18% !important;
    /* border: 1px solid red; */
   }
   main .topcollecte {
    margin-top: 5%;
   }
   main .topcollecte .topcollectebis{
    width: 100%;
    height: 55vh;
   }
   main .topcollecte .topcollectebis button{
    margin-right: 5%;
   }
   main .topcollecte .topcollectebis img{
    display: none;
   }
   main .bottomcollecte{
    margin-top: -18%;
   }
   #accordionFlushExample{
    display: block;
   }
   .accordion-item{
    width: 300px;
   }
}
/* pour les tablettes */
@media (min-width: 768px) and (max-width: 1025px){
    main .banniere{
        height: 20vh;
        padding-top: 10%;
    }
    main .banniere p{
        margin-top: 8% !important;
    }
    main .topcollecte .topcollectebis{
        display: block;
        margin-top: 55%;
        height: 48vh;
        
    }
    main .topcollecte .topcollectebis button{
        margin-right: 4%;
    }
    main .topcollecte .topcollectebis img{
        position: absolute;
        top: 23%;
        right: 7800px;
        width: 40%;
        height: 30vh;
    }
    main .bottomcollecte {
        margin-top: -25%;
    }
}