*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
:root {
    --redsimplon : #CE0033;
}


.lefttop{
    height: 230px;
    width: 100%;
    /* border: 2px solid gold; */

}
.lefttop img{
    /* border: 1px solid green; */
    height: 230px;
    width: 400px;
}
.righttop{
    /* border: 4px solid red; */
    
}
.number{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.number .numberitem{
  border-left: 4px solid var(--redsimplon);
}

.actionformation{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 150px;
}
.actionformation .actionitem2{
    height: 300px;
    
}
.actionformation .actionitem1 img{
    height: 300px;
    width: 100%;
    
}


.actionobjectif{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 150px;
}

.actionsponsor img{
    height: 80px;
}

/* Media query */
@media (max-width:810px){
    .actionformation{
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0 5px;
    }
    .actionformation .actionitem2{
        height: 250px;

        
    }
    .actionformation .actionitem2 p{
      font-size: 12px;
        
    }
    .actionformation .actionitem1 img{
        height: 250px;
        width: 100%;
        
    }
}
@media (max-width:448px){
    .actionformation{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 5px;
    }
    .actionobjectif{
        display: grid;
        grid-template-columns: 1fr;
        padding: 0 5px;
    }
    .partenair{
        /* width: 100%; */
        display: flex;
        justify-content: center;
    }
    .actionsponsor img{
        height: auto;
        width: auto;
    }
    .btn{
        width: 50%;
        height: 40px;
        font-size: 10px;
    }
}