*{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

}
:root {
    --redsimplon : #CE0033;
}

.chaintopimg img{
    height: 300px;
}
.chaintoptxt{
    height: 300px
}
.chaintopboutton{
    height: 80px;
}

/* .chaintop{
    
}
.chaintop .chaintopleft{
height: 180px;
}
.chaintop .chaintopleft img{
    height: 180px;
} */
.chaintopend p{
    font-size: 13px;
}
.chaintopend h5{
    font-size: 14px;
}
.chaintopend img{
    height: 150px;
}